.login_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
label {
  color: gray;
}
input {
  height: 1.6rem;
  border: none;
  background-color: rgb(243, 243, 243);
  padding: 0.8rem;
  color: black;
  font-weight: 600;
}
input::placeholder {
  font-weight: 100;
}
.login_forgotPassword {
  color: rgb(68, 68, 160);
  text-align: center;
  margin: 1rem 0;
}
.signup_button_submit {
  border: none;
  border-radius: 2rem;
  background-color: rgb(68, 68, 160);
  color: white;
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 2.4rem;
  margin: 1rem 6rem;
}
.error {
  color: red;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0);
}
.login_info {
  margin-top: 6rem;
}
.success {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0);
}
