h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
body {
  background-color: rgb(0, 0, 0);
}
.homepage {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0 0.7rem;
  box-shadow: unset;
}
.homepage_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
}
.homepage_greeting {
  color: gray !important;
  background-color: unset;
  padding: 0;
}
.homepage_user_greeting {
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
}
.homepage_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(44, 44, 44);
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.searchMenuBtn_style {
  padding: 1rem;
  background-color: white;
  background-position: center;
  background-size: 2.2rem;
  background-repeat: no-repeat;
  border: 2px solid rgba(248, 0, 248, 0.281);
  border-radius: 50%;
  cursor: pointer;
}
.homepage_menuBtn {
  margin-left: 0.5rem;
  background-image: url("/public/Images/setting.png");
  background-size: 2rem;
  height: 2rem;
  border: none;
  background-color: rgba(240, 248, 255, 0);
}
.homepage_searchBtn {
  background-image: url("/public/Images/search.png");
  background-size: 1.2rem;
  background-color: rgba(240, 248, 255, 0);
}

.link {
  padding: 0.6rem 1.4rem;
  border-radius: 5rem;
  transition: 0.5s ease;
  border: none;
  background-color: rgb(45, 45, 46);
  color: aliceblue;
}
.active_link {
  background-color: rgb(132, 98, 211);
}
a {
  all: unset;
  cursor: pointer;
  color: gray;
}
.homepage_chat_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.homepage_chat_list_item {
  border-bottom: 1px solid rgba(201, 201, 201, 0.459);
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.homepage_chat_profileImg {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-size: 3rem;
}
.picAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-start: 0;
  margin-inline-end: 0;
}
.homepage_chat_profile_messageTime {
  font-size: 0.8rem;
  background-color: rgba(240, 248, 255, 0);
  color: rgb(97, 97, 97) !important;
}
.homepage_chat_profile_name {
  font-weight: 500;
  color: white;
}
p {
  color: gray;
}
.newChat_addFriend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.addFriend_btn {
  background-image: url(/public/Images/add-user.png);
}

.btn_style {
  background-position: center;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: rgba(240, 248, 255, 0);
}

.input_and_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
