h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  color: gray;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(234, 0, 255, 0.356)
  );
}
.homepage_chat_list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: unset;
  background-color: #ffffff00;
  box-shadow: unset;
}
.homepage_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.searchMenuBtn_style {
  padding: 1.2rem;
  background-color: white;
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  border: 1px solid rgba(68, 68, 160, 0.685);
  border-radius: 50%;
}
.homepage_menuBtn {
  margin-left: 0.5rem;
  background-image: url("/public/Images/menu.png");
}
.homepage_searchBtn {
  background-image: url("/public/Images/search.png");
  background-size: 1.2rem;
}
.chat_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  padding: 1rem;
  overflow-y: auto;
  min-height: 0;
}

.chat_sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
  text-align: right;
}
.chat_sender_input {
  border-radius: 2rem;
  width: 75%;
  border: 1px solid #8d4bce;
}
.chat_sender_submit {
  border: none;
  background-color: rgba(234, 0, 255, 0);
  background-image: url("/public/Images/send.png");
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
}
.chat_and_sender {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.picAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.homepage_chat_profile_lastMessage {
  color: gray !important;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0;
}
.chat_timeStamp {
  font-size: 0.6rem;
  padding: 12rem 0;
}
img {
  height: 3rem;
}
p {
  background-color: #8d4bce;
  padding: 0.7rem;
  border-radius: 1rem;
  max-width: fit-content;
  color: white !important;
}
.messageBubble {
  padding: 10px;
  margin: 8px;
  border-radius: 12px;
  max-width: 70%;
  word-wrap: break-word;
}

.incoming {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.outgoing {
  background-color: #aee1f9;
  align-self: flex-end;
}
