h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  color: gray;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
.homepage_chat_list_openedChat {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: unset;
  background-color: #ffffff00;
  box-shadow: unset;
}
.chat_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #8d4bce3d;
}
.chat_account {
  margin-left: 0.5rem;
  background-image: url("/public/Images/user.png");
  background-size: 1.7rem;
  border: 2px solid purple;
}
.chat_videoCall {
  background-image: url("/public/Images/video-calling.png");
  background-size: 2.5rem;
  height: 2rem;
  width: 3rem;
  border: none;
}
.chat_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  overflow-y: auto;
  min-height: 0;
}
.chat_sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  text-align: right;
  border-top: 2px solid rgba(128, 0, 128, 0.096);
}
.chat_sender_input {
  border-radius: 2rem;
  width: 75%;
  background-color: #8d4bce27;
}
.chat_sender_submit {
  border: none;
  background-color: rgba(234, 0, 255, 0);
  background-image: url("/public/Images/send.png");
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
}
.chat_and_sender {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.picAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.homepage_chat_profile_lastMessage {
  color: gray !important;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0;
}
img {
  height: 3rem;
}
.messageBubble {
  position: relative;
  padding: 0.4rem 1rem;
  padding-right: 4rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  max-width: 70%;
  word-wrap: break-word;
  background-color: #8d4bcebb !important;
  color: white;
  font-size: 0.9rem;
}
.timeStamp {
  position: absolute;
  bottom: 0.3rem;
  right: 0.6rem;
  font-size: 0.6rem;
}
.incoming {
  align-self: flex-start;
  border-top-left-radius: 0;
  background-color: #eb050548;
}

.outgoing {
  align-self: flex-end;
  border-top-right-radius: 0;
  background-color: #ff0000cb !important;
  color: white;
}
.homepage_goBackToAllChats {
  border: none;
  background-color: #8d4bce00;
  background-image: url("/public/Images/left.png");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
}
.createNewAccount {
  background-color: unset;
}
.loader_div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chats_loader {
  height: 10rem;
}
.chat_isTyping {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  height: 5rem;
  background-color: #8d4bcebb;
  border-radius: 0.5rem;
  color: white;
  padding-left: 1rem !important;
  padding: 0.3rem 0.4rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
}

.chat_container::-webkit-scrollbar {
  width: 0.5rem;
}

.chat_container::-webkit-scrollbar-track {
  background: #ff000017;
  border-radius: 2rem;
}

.chat_container::-webkit-scrollbar-thumb {
  background-color: #8d4bce8c;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.chat_container::-webkit-scrollbar-thumb:hover {
  background-color: #fd00002c;
}

/* Status Text (Online/Offline) */
.homepage_chat_profile_lastMessage {
  font-size: 14px;
  color: #777;
}

/* Online/Offline Indicator */
.statusIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: #ddd; /* Default is offline (gray) */
  position: absolute;
  top: 0.1rem;
  left: 4.7rem;
  border: 1px solid rgb(255, 255, 255);
}

/* Online Status - Green */
.online {
  background-color: #4caf50; /* Green for online */
}

/* Offline Status - Red */
.offline {
  background-color: #f44336; /* Red for offline */
}
