h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  color: gray;
}
.homepage_chat_list_openedChat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: unset;
  background-color: #ffffff00;
  box-shadow: unset;
}
.chat_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0.3rem 0.7rem;
  border-bottom: 2px solid #8d4bce3d;
}
.chat_account {
  margin-left: 0.5rem;
  background-image: url("/public/Images/user.png");
  background-size: 1.7rem;
  border: 2px solid purple;
}
.chat_videoCall {
  background-image: url("/public/Images/video.png");
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  border: none;
}
.chat_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  overflow-y: auto;
  min-height: 0;
  padding: 0 0.5rem;
  background-image: url("/public/Images/blue-pink-20-pct.png");
  background-size: contain;
}
.chat_sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  text-align: right;
  border-top: 2px solid rgba(128, 0, 128, 0.096);
  background-color: #000;
}
.chat_sender_input {
  border-radius: 2rem;
  width: 75%;
  background-color: #8d4bce27;
}
.chat_sender_submit {
  border: none;
  background-color: rgba(234, 0, 255, 0);
  background-image: url("/public/Images/send.png");
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
}
.chat_and_sender {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.picAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.homepage_chat_profile_lastMessage {
  color: gray !important;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0;
}
img {
  height: 3rem;
}
.messageBubble {
  position: relative;
  padding: 0.5rem 0.8rem;
  padding-right: 3.5rem;
  margin: 0.1rem;
  border-radius: 1rem;
  max-width: 70%;
  word-wrap: break-word;
  background-color: #8a5db9;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}
.timeStamp {
  position: absolute;
  bottom: 0.3rem;
  right: 0.6rem;
  font-size: 0.6rem;
  color: rgb(185, 180, 180);
}
.incoming {
  align-self: flex-start;
  border-top-left-radius: 0;
  background-color: rgba(68, 68, 68, 0.719) !important;
  color: rgba(255, 255, 255, 0.911);
}
.outgoing {
  align-self: flex-end;
  border-top-right-radius: 0;
  background-color: rgba(132, 98, 211, 0.767);
  color: rgb(255, 255, 255);
}
.homepage_goBackToAllChats {
  border: none;
  background-color: #8d4bce00;
  background-image: url("/public/Images/left.png");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}
.createNewAccount {
  background-color: unset;
}
.loader_div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chats_loader {
  height: 10rem;
}
.chat_isTyping {
  display: flex;
  justify-content: flex-start;
  background-color: #8d4bcebb;
  padding-left: 0.5rem !important;
  margin: 0.1rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
}

.chat_container::-webkit-scrollbar {
  width: 0.2rem;
}

.chat_container::-webkit-scrollbar-track {
  background: #ff000017;
  border-radius: 10rem;
}

.chat_container::-webkit-scrollbar-thumb {
  background-color: #8d4bce8c;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.chat_container::-webkit-scrollbar-thumb:hover {
  background-color: #fd00002c;
}

/* Status Text (Online/Offline) */
.homepage_chat_profile_lastMessage {
  font-size: 14px;
  color: #777;
}

/* Online/Offline Indicator */
.statusIndicator_chat {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: #000000; /* Default is offline (gray) */
  position: absolute;
  top: 0.2rem;
  left: 3.5rem;
  border: 2px solid rgb(255, 255, 255);
}

/* Online Status - Green */
.online {
  background-color: #4caf50; /* Green for online */
}

/* Offline Status - Red */
.offline {
  background-color: #adadad; /* Red for offline */
}
.homepage_chat_profile_lastMessage {
  overflow: unset;
}
.messageBubble.unread {
  font-weight: bold;
  color: #000;
}
.videocall_deleteFriend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.deleteFriend_btn {
  background-image: url(/public/Images/remove-user.png);
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.callModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
}

.callModal button {
  margin: 10px;
}
