.allchats_loader {
  height: 10rem;
  width: 10rem;
  background-color: rgba(245, 1, 1, 0);
  text-align: center;
}

.picAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}
/* Online/Offline Indicator */
.allChats_statusIndicator {
  border: 2px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: #ffffff; /* Default is offline (gray) */
  position: absolute;
  top: 0.1rem;
  left: 2rem;
}

/* Online Status - Green */
.online {
  background-color: #4caf50; /* Green for online */
}

.homepage_chat_profile_lastMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}
.homepage_chat_profile {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ⬅ this makes child text not overflow */
}
.homepage_chat_profile_messageTime {
  width: 25%;
  font-size: 0.7rem;
}
.online::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(34, 197, 94, 0.4);
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
/* Offline Status - Red */
.offline {
  background-color: #ff1100; /* Red for offline */
}
.allchats_loader_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
