.account_settings_backBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account_changeNickname {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.account_logOut {
  padding: 1rem;
  border: none;
  color: #002fff59;
  font-size: 1rem;
  font-weight: 900;
  background-color: rgb(255, 236, 255);
  border-radius: 1rem;
  background-image: url("/public/Images/logout2.png");
  background-size: 2.2rem;
  background-repeat: no-repeat;
  background-position: 6rem center;
  text-align: center;
  cursor: pointer;
}
.account_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account_saveNickname {
  background-color: rgba(247, 0, 255, 0.082);
  padding: 1rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #002fff59;
  cursor: pointer;
}
.account_nickName_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-file-upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #bddcff7c;
  color: rgba(0, 0, 0, 0.884);
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #357ab8;
}

.custom-file-upload input[type="file"] {
  display: none;
}
